.animations:hover{
    transform: scale(1.1);
    transition:.50s;
}
.animations img:hover{
    transform: scale(1.1);
    transition:.50s;
}
.animationsa img:hover{
    transform: scale(1.099);
    transition:.50s;
}
